<section class="fail-nights">
  <div class="fail-nights__inner container">
    <div class="fail-nights__content">
      {{ failNightsHtml | safe }}
      <div class="fail-nights__cta">
        <a href="https://www.failnights.lt/" class="btn" target="_blank" rel="noopener noreferrer">Learn more</a>
      </div>
    </div>
    <div class="fail-nights__visuals">
      <div class="fail-nights__photo-wrap">
        <img src="{{ rootPath }}images/backgrounds/fail-nights.jpg" alt="Fail Nights event" class="fail-nights__photo" loading="lazy">
      </div>
      <div class="fail-nights__logo-wrap">
        <img src="{{ rootPath }}images/backgrounds/fail-nights-logo.png" alt="Fail Nights" class="fail-nights__logo" loading="lazy">
      </div>
    </div>
  </div>
</section>
